{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'testreg/style.css' %}" >
    <head><title>  Modify the candidate details</title></head>
    <h2> 
        <form align="center"> 
        <font  face="Calibri" color="white">Update Applicant Details </font> 
        </form>
    </h2>
    

{% if applicant %}
    <form action="{% url 'testreg:modifyreg' applicant.id %}" method="POST">
    {% csrf_token %}    
        <table width="450px">
        <tr>
        <td>
            <font  face="Calibri" color="white" for="first_name">First Name:</font>
        </td>
        <td>
            <input type="text" id="first_name" name="first_name" maxlength="50" size="30" value={{ applicant.FirstName }}>
        </td>
        </tr>
        
        <tr>
        <td>
            <font  face="Calibri" color="white" for="last_name">Last Name:</font>
        </td>
        <td>
            <input type="text" id="last_name" name="last_name" maxlength="50" size="30" value={{ applicant.LastName }}>
        </td>
        </tr>
        <tr>
        <td>
            <font  face="Calibri" color="white" for="address">Address:</font>
        </td>
        <td>
            <textarea rows="6" cols="32" id="address" name="address">{{ applicant.Address }}</textarea>
        </td>
        </tr>

        <tr>
        <td>
            <font  face="Calibri" color="white" for="sex">Gender:</font>
        </td>
        <td>
            <font  face="Calibri" color="white" for="sex">
                <input type="radio" id="sex" name="sex" value="male">Male</input>
                <input type="radio" id="sex" name="sex" value="female">Female</input>
            </font>
        </td>
        </tr>

        <tr>
        <td>
            <font  face="Calibri" color="white" for="bdate">Birth Date:</font>
        </td>
        <td>
            <input type="date" id="bdate" name="bdate" value={{ applicant.DateOfBirth }}>
        </td>
        </tr>

        <tr>
        <td>
            <font  face="Calibri" color="white" for="idtype">Proof of Address:</font>
        </td>
        <td>
            <font  face="Calibri" color="white" for="idtype">
            <input type="radio" id="idtype" name="idtype" value="aadhar">Aadhar</input>
            <input type="radio" id="idtype" name="idtype" value="pan">PAN</input>
            </font>
        </td>
        </tr>
        
        <tr>
        <td>
            <font  face="Calibri" color="white" for="uid">ID:</font>
        </td>
        <td>
            <input type="text" id="uid" name="uid" maxlength="50" size="30" value={{ applicant.UniqueID }}>
        </td>
        </tr>
        
        <tr>
        <td>
            <font  face="Calibri" color="white" for="nation">Nationality:</font>
        </td>
        <td>
        <font  face="Calibri">
            <input type="text" id="nation" name="nation" list="nationality" value={{ applicant.Nationality }}>
            <datalist id="nationality">
                <option>India</option>
                <option>British</option>
                <option>US</option>
                <option>French</option>
            </datalist>
        </font> 
        </td>
        </tr>
    
        <tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/>
        <tr>
        <td><td><td>
        <td>
            <font  face="Calibri">
                <input type="submit" value="Update">
            </font>
        </td>
        </td></td></td>
        <td><button type="cancel" onclick="welcome.html">Cancel</button></td>
        </tr>        
    </form> 
{% else %}
        <p>No The specified applicant isn't registered.</p>
{% endif %}             
 </link>